ISOGEN-FILES        ISOGEN.FLS
UNITS-BORE          INCH
UNITS-CO-ORDS       MM
UNITS-BOLT-LENGTH   MM
UNITS-BOLT-DIA      MM
PIPELINE-REFERENCE  P-1
	PIPING-SPEC		NONE
ELBOW
	ANGLE			40
	CENTER-POINT	0.5     0     0
	MATERIAL	    STEEL
	END-POINT		0     0     0
	END-POINT		1     0     0
	PCF				YES
	SKEY			NONE